@inject NavigationManager NavigationManager

<MChip Color="@Color" TextColor="white" Style="margin:5px;" Class="ma-2"
       OnClick="ToSearchGroup">
    @Item.Name
    <MAvatar Right Class="white darken-4">
        <span style="color:@Color">@Item.BlogCount</span>
    </MAvatar>
</MChip>

@code {
    [Parameter]
    public VBlogGroup Item { get; set; } = new();

    string Color => ColorExtensions.GetRandomColor();

    void ToSearchGroup()
    {
        NavigationManager.NavigateTo($"/search/group/{Item.Id}");
    }
}