@Content(Text, Flag)

<style>
    .flag {
        border: 0.5px solid @Color;
        padding: 0px 4px 0px 4px;
        color: @Color;
        border-radius: 5px;
    }
</style>

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string Flag { get; set; } = string.Empty;

    [Parameter]
    public string Color { get; set; } = "#D500F9";


    public static RenderFragment Content(string text, string flag) => builder =>
    {
        builder.AddMarkupContent(0, @text.Replace(@flag, $"<span class='flag'>{@flag}</span>"));
    };
}
