@page "/search"
@page "/search/tag/{TagId:guid}"
@page "/search/group/{GroupId:guid}"

<PageTitle>搜索</PageTitle>

<MTextField Label="请输入搜索的内容"
            TValue="string"
            Outlined
            Loading="_loading"
            ValueChanged="QuerySelections"
            AppendIcon="mdi-magnify" Class="rounded-lg">
</MTextField>
<MDivider Height="40" Style="margin-top:-10px;">
    <MIcon Color="red" Left Style="line-height: inherit;">mdi-tag-multiple</MIcon>
    标签
</MDivider>
<SearchTags></SearchTags>
<MDivider Height="40">
    <MIcon Color="red" Left Style="line-height: inherit;">mdi-tag-multiple</MIcon>
    分组
</MDivider>
<SearchGroups></SearchGroups>

@if (_loading)
{
    <div style="text-align:center">
        <MProgressCircular Size="80" Width="8"
                           Indeterminate
                           Color="purple"></MProgressCircular>
    </div>
}
else
{
    <SearchList Search="@_search"></SearchList>
}

<style>
    .m-progress-circular {
        margin: 1rem;
    }
</style>

@code {
    [Parameter]
    public Guid? TagId { get; set; }
    [Parameter]
    public Guid? GroupId { get; set; }

    private bool _loading;
    string _search = string.Empty;

    private async Task QuerySelections(string v)
    {
        _search = v;
        _loading = true;
        await Task.Delay(2000);
        _loading = false;
    }
}